body, html {
    padding: 0;
    margin: 0;
    background-image: url("./img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Tahoma, sans-serif;
}

body {
    padding: 10px;
    padding-top: 70px;
}

.header {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-sizing: border-box;
    background: rgba(217,191,131, 1);
    position: fixed;
   left: 0;
   top: 0; 
   height: 40px;
   display: flex;
   justify-content: space-between;
}

h1 {
    color: red;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    width: 100%;
    background: transparent;
    padding: 4px 8px;
    outline: none;
    box-sizing: border-box;
}

.button {
    width: 100%;
    box-sizing: border-box;
    background: #000;
    outline: none;
    color: #fff;
    padding: 8px;
    border: none;
}

.login-wrapper {
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
    background: rgba(217,191,131, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-container .input {
    margin-bottom: 8px;
}


.roller-wrapper {
    width: 350px;
    height: 110px;
    margin: 0 auto;
    background: rgba(217,191,131, 1);;
    overflow: hidden;
    position: relative;
    left: -10px;
    margin-bottom: 20px;
}

.roller-wrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 140px;
    background: red;
    position: absolute;
    left: 50%;
    top: 0
}

.roller {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    left: -50px;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.roll-animation1 {
    animation-name: roll1;
}

@keyframes roll1 {
    from {left: -50px;}
    to {left: -7197px;}
}



.roller-element {
    width: 100px;
    height: 100px;
    background: white;
    margin-right: 10px;
    flex-shrink: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 10px solid transparent;
    box-sizing: border-box;
    transition: .4s;
}

.roller-element.win {
    border: 10px solid green;
}

.profile-wrapper {
    margin-top: 40px;
    width: 100%;
    background: rgba(217,191,131, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 120px;
    margin-bottom: 20px;
}

.profile-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url("./img/avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 8px solid #D9BF83;
    position: absolute;
    left: 50%;
    top: -80px;
    transform-origin: -50%;
    transform: translate(-50%);
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}


.profile-desc {
    opacity: .7;
}

.cases-wrapper {
    width: 100%;
    background: rgba(217,191,131, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cases-item {
    margin-bottom: 24px;
    cursor: pointer;
}

.cases-item img {
    width: 140px;
}

.cases-item.closed img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.cases-item span {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 4px;
}

.c-wrapper {
    width: 350px;
    background: rgba(217,191,131, 0.5);
    padding: 20px 10px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.c-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.c-title2 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.c-prizes {
    width: 100%;
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 22%); /* 2 */
    grid-gap: 10px; /* 3 */
    justify-content: space-between; /* 4 */
}
  

.c-prizes-item {
    width: 100%;
    height: 0;
    background: #fff;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 3px solid #D9BF83;
    box-sizing: border-box;
    border-radius: 5px;
}